@font-face {
  font-family: "JF Flat Regular";
  font-family: "JF Flat Regular";
  src: url(../fonts/JF-Flat-regular.eot);
  src: url(../fonts/JF-Flat-regular.eot?#iefix) format("embedded-opentype"),
    url("../fonts/JF-Flat-regular.svg#JF Flat Regular") format("svg"),
    url(../fonts/JF-Flat-regular.woff) format("woff"),
    url(../fonts/JF-Flat-regular.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal;
}

body {
  font-family: "JF Flat Regular", sans-serif;
  font-size: 14px;
  color: black;
  line-height: 1.5;
}

.custom-navbar {
  border-bottom: 3px solid #eef0ea;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
}

.custom-form-control,
.dropdown a.custom-btn {
  border: 1 px solid #ebebeb;
  box-shadow: none;
  border-radius: 2px;
  color: #868686;
  height: 36px;
  padding: 6px 16px 7px;
  margin: 7px;
  transition: all 0.3s ease-in-out;
}

.custom-form-control:focus {
  border-color: #ff3956;
  box-shadow: 0 0 2px 0 #ff3956;
}

.dropdown a.custom-btn:hover {
  background-color: #d4d4d4;
  border: 1px solid #8c8c8c8c;
  color: #ff3956;
  cursor: pointer;
}
.dropdown a.custom-btn:focus {
  color: #ff3956;
}
.dropdown a.categories {
  border-radius: 0;
}
.custom-dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 #ebebeb;
  color: #868686;
}

.search-btn {
  background-color: #ff3956;
  border-color: #ff3956;
  color: #fff;
  padding: 6px 16px 7px;
  height: 38px;
  width: 65px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: auto;
}
.search-btn:hover,
.search-btn:focus,
.search-btn:active,
.search-btn:active:focus,
.search-btn:active:hover {
  background-color: #c2101e;
  border-color: #c2101e;
  color: #fff;
}

.nav-link {
  color: #868686;
  font-size: 14px;
  padding: 15px;
}

.custom-navbar .navbar-collapse li.active a.nav-link {
  color: #ff3956;
  font-weight: 700;
  border-bottom: 1px solid #ff3956;
}

.custom-navbar .navbar-collapse li.active:hover a.nav-link {
  background-color: #e7e7e7;
}

.custom-dropdown-menu li a:hover {
  background-color: #ffe7ea;
}

.custom-navbar .btn-icon {
  padding: 5px 10px;
  color: #777;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  margin-right: 15px;
}

.custom-navbar .form {
  align-items: center;
}

.custom-navbar .form .btn-icon:hover {
  color: #181717;
  background-color: #f7f8f3;
}

/* بداية قسم عرض الشرائح */
#carousel-featured {
  background-color: #f7f8f3;
  height: 400px;
  padding-top: 25px;
}

#carousel-featured .carousel-item img {
  height: 375px;
}

#carousel-featured .product-details {
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 50px;
  height: 200px;
}

#carousel-featured .product-details h1 {
  font-size: 175%;
  font-weight: 700;
  color: #333;
  margin-top: 15px;
}

.carousel-inner .col-6 {
  width: 47% !important;
}

#carousel-featured .product-details .product-category {
  background-color: #f7f8f3;
  border: 1px solid #dddddb;
  border-radius: 3px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  color: #8b8b8b;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px;
  position: absolute;
  right: -12px;
  top: -15px;
}

.custom-btn-outline-warning {
  background-color: transparent;
  border-color: #f8ad47;
  color: #f8a747;
}

.custom-btn-outline-warning:hover,
.custom-btn-outline-warning:focus,
.custom-btn-outline-warning:active,
.custom-btn-outline-warning:active:focus,
.custom-btn-outline-warning:active:hover {
  border-color: #b86d07;
  color: #b86d07;
}

.sale {
  background-color: #53ccd7;
  color: #fff;
  font-weight: bold;
  position: absolute;
}

.sale.large {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  left: -15px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  padding: 35px;
  line-height: 90%;
  flex-direction: column;
  transform: rotate(-25deg);
}

.custom-carousel-indicators {
  top: 235px;
  right: 45%;
}
.custom-carousel-indicators-primary {
  height: 50px !important;
  width: 50px !important;
  opacity: 1 !important;
  border: 2px solid #dddddb !important;
  margin: 0 !important;
  margin-left: 5px !important;
}

.custom-carousel-indicators-primary.active {
  border-color: #f8ad47 !important;
}

#carousel-featured .carousel-control-prev .fa-chevron-right,
#carousel-featured .carousel-control-next .fa-chevron-left {
  color: #868686;
  font-size: 38px;
}

/* نهاية قسم عرض الشرائح */

/* بداية قسم مميزات المنتج */
#store-features {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-image: url("../images/bg_features.png");
  background-repeat: no-repeat;
  position: relative;
  top: -30px;
  background-size: auto 60%;
  background-color: #fff;
  padding-bottom: 35px;
  padding-top: 25px;
  background-position: -10px -20px;
}

#store-features .feature > img {
  height: 40px;
  margin-bottom: 10px;
}
#store-features .feature + .feature {
  border-right: 2px solid #eef0ea;
}
/* نهاية قسم مميزات المنتج */

/* بداية قسم الاكثر مبيعا */
.heading {
  font-size: 24px;
  margin-bottom: 25px;
}

.custom-thumbnail img {
  height: 250px;
  width: 100%;
  max-width: 250px;
}

.custom-thumbnail {
  border: 2px solid #eef0ea;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 50px;
}
.custom-thumbnail:hover {
  border-color: #53ccd7;
}

.price {
  color: #53ccd7;
}

.rating {
  color: #c2c2c2;
}

.rating .active {
  color: #f3af41;
}

.overlay {
  position: absolute;
  background-color: rgba(83, 204, 215, 0.5);
  height: 250px;
  width: calc(100% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.overlay:hover {
  opacity: 1;
}
.add-to-cart-btn {
  color: #53ccd7;
  background-color: #fff;
  font-weight: 700;
}

.custom-thumbnail .sale {
  padding: 5px 10px;
  position: absolute;
  left: 16px;
  top: 14px;
}
.custom-thumbnail .sale::before {
  content: "-";
}

.custom-carousel-indicators2 {
  bottom: -20px;
}

.custom-carousel-indicators2 li {
  border-radius: 50% !important;
  background-color: #a4a4a4 !important;
  width: 13px !important;
  height: 13px !important;
  margin: 2px !important;
}

.custom-carousel-indicators2 li.active {
  background-color: #565656 !important;
}
/* نهاية قسم الاكثر مبيعا */

/* بداية الماركات  العالمية  */

.panel {
  border: 4px solid #eef0ea;
  border-radius: 2px;
  padding: 20px;
}

.panel h4,
.panel .price {
  font-size: 130%;
  margin-bottom: 15px;
  margin-top: 0;
}

.custom-text-muted {
  color: #8b8b8b;
  font-size: 14px;
}

.arrow-btn {
  background-color: #fff;
  color: #868686;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 12px;
}

#row-brands h3.heading {
  border-top: 1px solid #eef0ea;
  padding-top: 25px;
}

/* نهاية  الماركات  العالمية  */

/* footer */

#brands-logos {
  background-color: #dbeefa;
  padding: 25px 0;
  color: #555;
}

#brands-logos img {
  margin-left: 25px;
  margin-right: 25px;
  max-width: 100px;
  max-height: 100px;
}

#footer-nav {
  background-color: #1f1e1e;
  padding: 50px 0 40px;
  background-image: url(../images/bg_footer_1.png),
    url(../images/bg_footer_2.png);
  background-position: 110% 0, -10% -150%;
  background-repeat: no-repeat, no-repeat;
}

.footer-nav-links {
  margin: 30px 0;
}

.footer-nav-links a {
  color: #555;
  margin-left: 30px;
  font-weight: bold;
  text-decoration: none !important;
}

.newsletter {
  border-top: 1px solid #292929;
}
.newsletter form {
  max-width: 260px;
}

.newsletter form label {
  margin: 27px 0 16px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
}

.newsletter form input {
  background-color: #313131;
  opacity: 0.6;
  border: none;
  height: 38px;
}

.custom-btn-warning {
  color: #000;
  background-color: #f8ad47;
  border-color: #f8ad47;
}

.custom-btn-warning:hover,
.custom-btn-warning:focus,
.custom-btn-warning:active,
.custom-btn-warning:active:focus,
.custom-btn-warning:active:hover {
  background-color: #b86d07;
  border-color: #b86d07;
}

.newsletter form button {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 14px;
  padding: 6px 12px 5px;
  color: inherit;
  height: 38px;
  top: 7px;
}

#footer-copyright-social {
  background-color: #151515;
  color: #303030;
  padding: 30px 0;
  font-weight: 700;
}
#footer-copyright-social a {
  color: #303030;
  text-decoration: none !important;
  margin: 0 5px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
/* footer */

/* ...............start product page.................. */

.custom-breadcrumb {
  padding: 25px 0;
}

.custom-breadcrumb a {
  color: #555;
  text-decoration: none;
}

.custom-breadcrumb a:hover {
  color: #f8a747;
}

.custom-breadcrumb > li::before {
  color: #f8a747 !important;
}
.custom-breadcrumb .active {
  color: #bfbfbf;
}

#carousel-product-images .carousel-indicators {
  position: absolute;
  top: 92%;
  right: 0;
}
#carousel-product-images .carousel-item img {
  width: 100%;
  height: auto;
  border: 1px solid #ebebeb;
}

.product-category {
  color: #a9a9a9;
}

#form-product-selection h2 {
  font-weight: 700;
  margin: 18px 0;
}

.price.large {
  font-size: 30px;
  margin-top: 20px;
}

.borders-between > div + div {
  border-top: 1px solid #ebebeb;
  padding: 15px 0;
}

.product-option {
  display: inline-block;
  height: 23px;
  width: 23px;
  border: 1px solid #ebebeb;
  text-align: center;
  justify-content: center;
  color: #c2c2c2;
  margin: 3px;
  font-weight: 700;
}

.product-option input {
  display: none;
}

.product-option.active {
  color: #f8ad47;
  border-color: #f8ad47;
}

.color-option.active {
  border-color: #fff;
  outline: #000 solid 1px;
}

.product-qunatity select {
  height: 34px !important;
  padding: 6px 12px;
  margin-right: 5px;
}

.custom-btn-with-icon {
  margin: 15px 0;
  font-size: 18px;
  padding: 5px 10px;
}

.headeing-with-border-bottom {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
}

.headeing-inlien {
  display: inline-block;
  min-width: 250px;
}

.more-description p,
.more-description ul {
  margin-bottom: 10px;
}

.comments .comment img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  border: 1px solid #dfdfdf;
}

.comments .comment h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

/* ...............end product page.................. */

/* ...............start checkout page.................. */

h1.custom-heading {
  font-size: 36px;
  margin-bottom: 25px;
}

.custom-media img {
  width: 80px;
  height: 80px;
  border: 1px solid #ebebeb;
  margin-left: 10px;
}

.custom-table th,
.custom-table td {
  padding: 15px;
  font-size: 120%;
  vertical-align: middle;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.custom-table h4 {
  font-size: 18px;
  margin: 12px 0;
}

.custom-table th {
  color: #c2c2c2;
  font-weight: normal;
}

.custom-table th:first-child,
.custom-table td:first-child {
  width: 50%;
}

.custom-table th:not(:first-child),
.custom-table td:not(:first-child) {
  text-align: center;
}

.custom-table tfoot td {
  border-bottom: none;
  font-size: 150%;
}

#total-price-for-all-product {
  color: #000;
}

.custom-btn-outline-danger {
  background-color: transparent;
  border-color: #ff3956;
  color: #ff3956;
}

.custom-btn-outline-danger:hover {
  border-color: #b9001b;
  color: #b9001b;
}

/* ...............end checkout page.................. */

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .custom-navbar .navbar-nav li a.nav-link {
    padding: 7px;
  }
}

@media (max-width: 767.98px) and (max-width: 991.98px) {
}

@media (max-width: 991.98px) {
  .custom-navbar {
    padding: 15px 20px 30px;
  }
  .custom-navbar .container {
    max-width: 100%;
  }
  .navbar-header {
    display: block;
    width: 100%;
    margin-bottom: 22px;
  }
  .navbar-header .btn-icon {
    float: left;
  }
  .inline-form {
    width: 100% !important;
    border-top: 1px solid #eee;

    padding: 10px 0;
  }

  .inline-form .dropdown {
    display: none;
  }

  .inline-form .custom-form-control {
    width: 90%;
  }
  .inline-form .search-btn {
    width: 10%;
  }

  .custom-navbar .navbar-nav li a.nav-link {
    padding: 10px 0;
  }

  #carousel-featured .carousel-indicators {
    margin-right: 4%;
  }

  .overlay {
    display: none;
  }

  .add-to-card-btn {
    color: #868686;
    border-color: #868686;
    margin-top: 8px;
    font-weight: 400;
  }

  #row-brands .carousel-inner img {
    width: 200px !important;
    height: auto !important;
  }

  .custom-thumbnail img {
    width: auto;
    height: 200px;
  }

  #copyright,
  #social-icons {
    text-align: center;
    width: 100%;
  }

  #social-icons {
    font-size: 150%;
    margin-top: 10px;
  }

  .product-images {
    margin-bottom: 70px;
  }

  .product-option {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  #carousel-featured {
    padding-bottom: 25px;
  }
  #carousel-featured,
  #carousel-featured .product-details {
    height: auto;
  }

  #carousel-featured .product-details {
    top: -2px;
    text-align: center;
  }

  #carousel-featured .carousel-item img {
    height: 250px;
  }
  .custom-thumbnail img {
    height: 250px;
    margin: auto;
  }

  #carousel-most-sold-altrenative .custom-thumbnail img {
    margin: auto;
  }

  #brand-log img {
    max-width: 50px;
    max-height: 50px;
    margin: 5px 24px 5px 23px;
  }

  #footer-nav .footer-logo {
    margin-bottom: 30px;
  }

  #footer-nav form {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .hide-on-small {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .inline-form .custom-form-control {
    width: 80% !important;
  }
  .inline-form .search-btn {
    width: 20% !important;
  }

  #brand-logos .img-container img {
    margin: 5px 15px;
  }

  #form-product-selection,
  .comments {
    padding-right: 15px;
  }
}
